server {
  listen 8080;
  charset utf-8;
  access_log /var/log/nginx/graphite.access.log;
  error_log /var/log/nginx/graphite.error.log;

  location / {
    include uwsgi_params;
    uwsgi_pass 127.0.0.1:3031;
  }
}
