#!/bin/bash
#
# uwsgi		Start up the uwsgi daemon
#
# chkconfig: 2345 55 25
# description: uwsgi application server
#
# processname: uwsgi

### BEGIN INIT INFO
# Provides: uwsgi
# Required-Start: $local_fs $network
# Required-Stop: $local_fs
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start uwsgi
# Description: uwsgi application server
### END INIT INFO

# source function library
. /etc/rc.d/init.d/functions

# Please, improve this if you have the time

RUNAS={{ graphite_user }}

if [ "x$2" != "x2nd" ]; then
	mkdir -p /run/uwsgi/graphite
	chown $RUNAS:$RUNAS /run/uwsgi/graphite
	touch /var/log/uwsgi_graphite.log
	chown $RUNAS:$RUNAS /var/log/uwsgi_graphite.log
	sudo -u $RUNAS $0 $1 2nd
	exit $?
fi

start() {
	/usr/bin/uwsgi --ini /etc/uwsgi_default.ini --ini /etc/uwsgi_graphite.ini --daemonize /var/log/uwsgi_graphite.log
	RETVAL=$?
	return $RETVAL
}

stop() {
	kill -INT $(cat /run/uwsgi/graphite/pid)
	RETVAL=$?
	sleep 1
	return $RETVAL
}

restart() {
	stop
	start
}

status() {
	if [ ! -f /run/uwsgi/graphite/pid ]; then
		echo "No pid file found, not running?"
		exit 1
	fi

	ps -p $(cat /run/uwsgi/graphite/pid) > /dev/null
	RETVAL=$?
	return $RETVAL
}

case "$1" in
	start)
		start
		;;
	stop)
		stop
		;;
	restart)
		restart
		;;
	status)
		status
		;;
	*)
		echo $"Usage: $0 {start|stop|restart|status}"
		RETVAL=2
esac
exit $RETVAL

